{% extends 'admin/starter.html' %}


{% block title %}
My Profile
{% endblock %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{user.get_edit_url}}"
              ><i class="bx bx-edit me-1"></i> Update</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{user.get_sec_url}}"
              ><i class="bx bx-lock me-1"></i> Security</a
            >
          </li>
        </ul>
        <div class="card mb-4">
          <h5 class="card-header">Profile Details</h5>
          <!-- Account -->
          <div class="card-body">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
              {% if object.avatar %}
              <img
              src="{{object.avatar.url}}"
              alt="user-avatar"
              class="d-block rounded"
              
              width="100"
              id="uploadedAvatar"
              />
              {% endif %}
              <div class="button-wrapper">
         
                
                <p class="text-muted mb-0">Registered Account Details for {{object}}</p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="firstName" class="form-label">First Name</label>
                  <input
                    class="form-control "
                    type="text"
                    id="firstName"
                    name="firstName"
                    value="{{object.first_name}}"
                    autofocus
                    disabled
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="lastName" class="form-label">Last Name</label>
                  <input class="form-control" type="text" name="lastName" id="lastName" value="{{object.last_name}}" disabled />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label">E-mail</label>
                  <input
                    class="form-control"
                    type="text"
                    id="email"
                    name="email"
                    value="{{object.email}}"
                    placeholder="john.doe@example.com" disabled
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="organization" class="form-label">Date Of</label>
                  <input
                    type="text"
                    class="form-control"
                    id="organization"
                    name="organization"
                    value="{{object.dob}}"
                    disabled
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="phoneNumber">Phone Number</label>
                  <div class="input-group input-group-merge">
                    <!-- <span class="input-group-text">ZAM </span> -->
                    <input
                      type="text"
                      id="phoneNumber"
                      name="phoneNumber"
                      class="form-control"
                      value="{{object.phone}}"
                      disabled
                    />
                  </div>
                </div>
                <div class="mb-3 col-md-6">
                  <label for="address" class="form-label">Location</label>
                  <input type="text" class="form-control" id="address" name="address" value="{{object.location}}" disabled />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="state" class="form-label">Date Joned</label>
                  <input class="form-control" type="text" id="state" name="state" value="{{object.date_joined}}" disabled />
                </div>
                <div class="mb-3 col-md-6">
                  <label for="zipCode" class="form-label">Account Status</label>
                  <input
                    type="text"
                    class="form-control"
                    id="zipCode"
                    name="zipCode"
                    value="{{object.get_status}}"
                    disabled
                  />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="country">Country</label>
                  <input
                  type="text"
                  class="form-control"
                  id="zipCode"
                  name="zipCode"
                  value="{{object.country.name}}"
                  disabled
                />
                </div>
          
               
              </div>
     
            </form>
          </div>
          <!-- /Account -->
        </div>
        <div class="card mb-4">
          <h5 class="card-header">Dissable Account</h5>
          <div class="card-body">
            <div class="mb-3 col-12 mb-0">
              <div class="alert alert-warning">
                <h6 class="alert-heading fw-bold mb-1">Are you sure you want to deactivate your account?</h6>
                <p class="mb-0">Once you deactivate your account, there is no going back. Please be certain.</p>
              </div>
            </div>
            <form id="formAccountDeactivation" onsubmit="return false">
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="accountActivation"
                  id="accountActivation"
                />
                <label class="form-check-label" for="accountActivation"
                  >I confirm my account deactivation</label
                >
              </div>
              <button type="submit" class="btn btn-warning deactivate-account">Deactivate Account</button>
            </form>
          </div>
        </div>
        <div class="card">
            <h5 class="card-header">Delete Account</h5>
            <div class="card-body">
              <div class="mb-3 col-12 mb-0">
                <div class="alert alert-warning">
                  <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                  <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                </div>
              </div>
              <form id="formAccountDeactivation" onsubmit="return false">
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="accountActivation"
                    id="accountActivation"
                  />
                  <label class="form-check-label" for="accountActivation"
                    >I confirm my account deletion</label
                  >
                </div>
                <button type="submit" class="btn btn-danger deactivate-account">Delete Account</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}